#topopainel {
    width: 1000px;
    margin: 0 auto;
}

#topopainel p {
    margin-left: 20px;
    color: #5AB349;
    font-size: 18px;
}

#painel {
    margin: 0 auto;
    width: 1000px;
    height: 450px;
}

#conteudopainel {
    padding-bottom: 30px;
    padding-top: 200px;
    margin-left: 300px;
}

#conteudopainel ul {
    list-style: none;
}

#conteudopainel ul li {
    float: left;
}

#conteudopainel ul li a {
    text-decoration: none;
    padding-left: 20px;
    color: #808080;
}

#conteudopainel ul li a:hover {
    color: #5AB349;
}

#tudonoticia {
    margin: 0 auto;
    width: 1000px;
}

#noticiaeditar {
    width: 1000px;
    margin: 0 auto;
}

#noticiaeditar h2 {
    color: #5AB349;
}

#noticiadetalhes h2 {
    color: #5AB349;
}
#noticiadetalhes p {
    font-weight: bold;
}

#excluirnoticia {
    margin: 0 auto;
    width: 1000px;
}
#excluirnoticia h2 {
    color: #5AB349;
}
#noticiadetalhes {
    width: 1000px;
    margin: 0 auto;
}

#cadastrarnoticias {
    margin: 150px auto;
    text-align: center;
    width: 200px;
    font-family: Verdana;
    
}

#cadastrarnoticias h2 {
    color: #5AB349;
    font-size: 18px;
}

#excluirnoticia p {
    font-weight: bold;
}
#cadastrarnoticias p {
    font-size: 12px;
    color: #333;
    text-align: left;
    font-weight: bold;
    
}

#editarnoticias {
    margin: 150px auto;
    text-align: center;
    width: 200px;
    font-family: Verdana;

}

#editarnoticias h2 {
    color: #5AB349;
    font-size: 18px;
}

#editarnoticias p {
    font-size: 12px;
    color: #333;
    text-align: left;
    font-weight: bold;

}

#cadastrarfontes {
    margin: 150px auto;
    text-align: center;
    width: 200px;
    font-family: Verdana;

}

#cadastrarfontes h2 {
    color: #5AB349;
    font-size: 18px;
}


#cadastrarfontes p {
    font-size: 12px;
    color: #333;
    text-align: left;
    font-weight: bold;

}

#editarfontes {
    margin: 150px auto;
    text-align: center;
    width: 200px;
    font-family: Verdana;

}

#editarfontes h2 {
    color: #5AB349;
    font-size: 18px;
}

#editarfontes form {
    font-weight: bold;
}

#editarfontes p {
    font-size: 12px;
    color: #333;
    text-align: left;
    font-weight: bold;

}

#rodapepainel 
{
    width: 1000px;
    margin: 0 auto;
}

table a {
    text-decoration: none;
    color:#333;
    padding: 2px;
}

table a:hover {
    color: green;
}

table th {
    padding: 2px;
    color: #333;
}
#tabelafonte {
    margin: 50px auto;
    margin-left: 500px; 
    width: 1000px;
    height: 400px;
}

#excluirfonte h2 {
    color: #5AB349;
}

#excluirfonte p {
    font-weight: bold;
}

#excluirfonte {
   margin: 100px auto;
    text-align: center;
    width: 200px;
    font-family: Verdana;
}

#fontedetalhes {
    margin: 150px auto;
    text-align: center;
    width: 200px;
    font-family: Verdana;
}

#fontedetalhes h2 {
    color: #5AB349;
}
#fontedetalhes p {
    font-weight: bold;
}

#tabelafonte h2 {
    color: green;
}

#tabelanoticia h2 {
    color: green;
}

#tudocliente {
    margin: 0 auto;
    width: 1000px;
    height: 280px;
}

#logincliente {
    margin-left: 400px;
    margin-top: 200px;
}

#tudoadmin {
    margin: 0 auto;
    width: 1000px;
    height: 280px;
}

#loginadmin {
    margin-left: 400px;
    margin-top: 200px;
}
#painelcliente {
    width: 1000px;
    margin: 70px auto;
    margin-left: 550px;
}
#painelcliente h2 {
    color: #5AB439;
}

#icones {
    margin: 0 auto;
    margin-left: 480px;
}
#icones ul li {
    float: left;
    padding-left: 15px;
    list-style: none;
}

#icones ul li a {
    text-decoration: none;
    font-family: verdana;
    color: #333;
    font-size: 12px;
}

#icones ul li a:hover {
    color: #5AB349;
}

#allcliente {
    height: 380px;
}

#lista {
    margin: 0 auto;
    width: 1000px;
    height: 380px;
    margin-left: 450px;
    margin-top: 70px;
}

#detalhesagendamento {
    margin: 0 auto;
    width: 1000px;
    height: 450px;  
}

#detalhesagendamento h2 {
    color: #5AB439;
}

#detalhesagendamento p {
    font-weight: bold;
}

#excluirvisita {
    margin: 0 auto;
    width: 1000px;
}

#excluirvisita h2 {
    color: #5AB439;
}

#excluirvisita p {
    font-weight: bold;
}