body {
    margin-top: 0;  
}

#inteiro {
    max-width: 1000px;
    min-width: 270px;
    margin: 0 auto;
    min-height: 400px;
    overflow: hidden;
}

header 
{   margin: 0 auto;
    max-width: 1000px;
    min-width: 270px;
    max-height: 300px;
    overflow: hidden;

}

#geral {
    width: 1000px;
    margin: 0 auto;
}

#corpo {
    max-width: 1000px;
    margin: 0 auto;
}

#logo {
    margin-top: -100px;
    margin-left: 70px;
    width: 186px;
    height: 135px;
    text-indent: -9999px;
    background: url('../../Content/themes/base/images/logotopo.jpg') no-repeat;
}
#fundoTopo {
    width: 1000px;
    height: 95px;
    background-color: #5AB349;
    border-bottom: 5px solid #C1DD89;
}

#fundoTopo h1 {
    float: right;
    margin-right: 200px;
    font-family: Verdana;
    color: #FFF;
    font-size: 30px;
    font-style: italic;
}

#menuTopo {
    margin: -45px;
    margin-right: 0;
    float: right;
    height: 100px;
}

#menuTopo ul {
    height: 100px;
    overflow: hidden;
    list-style: none;
}

#menuTopo ul li {
    color: #000;
    float: left;
    padding-right: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #5AB349;
}

#menuTopo ul li a:link {
    text-decoration: none;
    color: #393737;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bolder;
}

#menuTopo ul li a:visited {
    text-decoration: none;
    color: #393737;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bolder;
}

#menuTopo ul li a:hover {
    color: #5AB349;
    padding-bottom: 7px;
    border-bottom: 3px solid #5AB349;
}

#clienteLeft {
    float: left;
    width: 200px;
}

#clienteLeft img {
    padding-top: 5px;
}

#clienteLeft img:first-child {
    margin-top: 30px;
    margin-left: 12px;
    padding-bottom: 10px;
}

#conteudo {
    width: 600px;
    margin-top: 30px;
    float: left;
}



#slideBaner {
    width: 467px;
    height: 245px;
    margin-left: 68px;
}

#servicos {
    width: 540px;
    margin-left: 60px;
    overflow: auto;
}

#servicos a img {
    float: left;
    padding-left: 2px;
    padding-bottom: 20px;
    margin-right: 20px;

}

#imagemservicos {
    padding-right: 300px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}

#noticia {
    width: 190px;
    margin-top: 40px;
    float: right;
}

#noticia img:first-child {
    margin-left: 20px;
    padding-right: 20px;
}

#noticia1 {
    width: 200px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}

#noticia2 {
    width: 200px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#noticia3 {
    width: 200px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#noticia4 {
    width: 200px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#rodape {
    max-width: 1000px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
}

#menuRodape {
    float: left;
    height: 48px;
}

#menuRodape ul {
    overflow: hidden;
    list-style: none;
    margin-left: -20px;
    display: block;
    border-top: 1px solid #5AB349;
}

#menuRodape ul li {
    color: #000;
    float: left;
    padding-right: 15px;
    padding-top: 6px;
}

#menuRodape ul li a:link {
    text-decoration: none;
    color: #393737;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bolder;
}

#menuRodape ul li a:visited {
    text-decoration: none;
    color: #393737;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bolder;
}

#menuRodape ul li a:hover {
    color: #5AB349;
    padding-top: 7px;
    border-top: 3px solid #5AB349;

}

#fundoRodape {
    width: 1000px;
    height: 95px;
    margin: 0 auto;
    background-color: #5AB349;
    clear: both;
    border-top: 5px solid #C1DD89;   
}

#fundoRodape p {
  text-align: center;
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  margin-top: 40px;
  color: #FFF;
}

#logoWebsolutions {
    float: left;
    margin-left: 20px;
    margin-top: -60px;
}

#logoRodape {
    float: right;
    margin-right: 50px;
    margin-top: -128px;
}

#teste {
    margin: 0 auto;
}

#parabens {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

#parabens h2 {
    color: #5AB349;
}

#parabens p {
    padding-top: 250px;
    font-weight: bold;
}

#parabens p a {
    text-decoration: none;
}

#parabens p a:hover {
    color:#5AB349;
}



fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#h2cadastroclientes {
    color: #5AB349;
    text-align: center;
}

#cadastroclientes {
    color: #333;
    margin-left: 430px;
}
#quemsomos {
    width: 600px;
    text-align: left;
}

#quemsomos h2 {
    color: #5AB349;
}

#quemsomos p {
    font-size: 14px;
    color: #333;
    font-weight:bold;
}

#contato {
    width: 600px;
    text-align: left;
}

#contato h2 {
    color: #5AB349;
}

#contato p {
    font-size: 14px;
    color: #333;
    font-weight:bold;
}

#servicoss {
    width: 600px;
    text-align: left;
}

#servicoss h2 {
    color: #5AB349;
}

#servicoss p {
    font-size: 14px;
    color: #333;
    font-weight:bold;
}

#servicoss img {
    margin-left: 50px;
}