@{
    ViewBag.Title = "Serviços";
}
<link rel="stylesheet" href="../../Content/Site.css" type="text/css" media="screen">
<div id="servicoss">
    <h2>
        Formatação de Computadores</h2>
    <p>
        Com Backup</p>
    <p>
        A formatação de computadores consiste na instalação de um novo sistema operacional
        da plataforma windows (XP, Vista, Seven), e fica a critério do cliente a escolha
        do sistema operacional, desde que a máquina atenda os requisitos do sitema. Junto
        ao sistema operacional serão instalados alguns programas de uso báscio como: antivirus
        gratuito (validade de 1 ano), antivirus para entrada usb, pacote office, nero, msn,
        entre outros. Os programas serão
    </p>
    <p>
        Sem Backup</p>
    <p>
        A formatação s/ backup possui as mesmas características do item acima, mas os dados
        presente na máquina não serão salvos!</p>
    <img src="../../Content/themes/base/images/divisaoservicos.png">
    <h2>
        Remoção de Vírus</h2>
    <p>
        Na remoção de vírus é feita uma combinação de programas antivirus capazes de encontrar
        e excluir vários "tipos de vírus". A remoção de vírus tem como objetivo, tornar
        o computador mais rápido e com um menor número de erros no sistema.</p>
    <img src="../../Content/themes/base/images/divisaoservicos.png">
    <h2>
        Instalação de Programas</h2>
    <p>
        A instalação de programas é feita conforme solicitação do cliente.</p>
    <img src="../../Content/themes/base/images/divisaoservicos.png">
    <h2>
        Manutenção de Redes</h2>
    <p>
        O serviço de manutenção de redes abrange redes com cabeamento e redes sem fio. Durante
        essa manutenção serão observados a estrutura, a segurança e as configurações pertinentes
        a cada caso.</p>
    <img src="../../Content/themes/base/images/divisaoservicos.png">
    <h2>
        Troca de Peças</h2>
    <p>
        De forma rápida e prática, poderão ser efetuadas as trocas de peças. Em alguns casos,
        para facilidade do cliente a troca poderá ser feita no local.</p>
    <img src="../../Content/themes/base/images/divisaoservicos.png">
    <h2>
        Limpeza de Hardware</h2>
    <p>
        Para um melhor desempenho da máquina, é importante que o hardware("peças") esteja
        sem obstrução ou sujeira nos contatos ou ainda nos coolers de refrigeração.
    </p>
</div>
