@{
    ViewBag.Title = "Contato";
}

<link rel="stylesheet" href="../../Content/Site.css" type="text/css" media="screen">
<div id="contato">
    <h2>
        Contato</h2>
    <p>
        Entre em contato com a nossa empresa através dos telefones/email abaixo:</p>
    <p>
        Telefones: (69)8453-0550 ou (69)9218-8257</p>
    <p>
        Email: thg.91@hotmail.com</p>
</div>
