@model OliveiraSuporte.Areas.painel.Models.Noticia

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Areas/painel/Views/Shared/_Layout.cshtml";
}
<div id="excluirnoticia">
<h2>Excluir</h2>

<h3>Você tem certeza que gostaria de excluir?</h3>
    <div class="display-label"><p>Titulo</p></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label"><p>Conteudo</p></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Conteudo)
    </div>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Deletar" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
</div>