@model OliveiraSuporte.Areas.painel.Models.Noticia

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Areas/painel/Views/Shared/_Layout.cshtml";
}

<h2>Excluir</h2>

<h3>Você tem certeza que gostaria de excluir?</h3>
<fieldset>
    <legend>Noticia</legend>

    <div class="display-label">Titulo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label">Conteudo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Conteudo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
