@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/cliente/Views/Shared/_Layout.cshtml";
}
@*Parte onde o usuario irá fazer o login*@
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../../../../Content/Painel.css" type="text/css" media="screen">
    <title>Login</title>
</head>
<body>
    <div id="tudocliente">
    <div id="logincliente">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
           
                <div>
                    Login
                </div>
                <div>
                    @Html.Editor("login")
                </div>
                <div>
                    Senha
                </div>
                <div>
                    @Html.Password("senha")
                </div>
                <div>
                    <input type="submit" value="Conectar" />
                </div>
            
        }
    </div>
    </div>
</body>
</html>
