@{
    ViewBag.Title = "Index";
}
<section id="corpo">
<div id="clienteLeft">
                <img src="../../Content/themes/base/images/titulo_clientes.png"/>
                <img src="../../Content/themes/base/images/farm_sao_paulo.png"/>
                <img src="../../Content/themes/base/images/evolucao.jpg"/>
                <img src="../../Content/themes/base/images/farm_sao_paulo.png"/>
                <img src="../../Content/themes/base/images/farm_sao_paulo.png"/>
                <img src="../../Content/themes/base/images/persona.jpg"/>

            </div>
            <div id="conteudo">
                <div id="slideBaner">
                    <div id='slideshowHolder'>
                        <img src='../../Content/themes/base/images/01.jpg'/>
                        <img src='../../Content/themes/base/images/02.jpg'/>
                    </div>

                    <script>
                        $(document).ready(function () {
                            $('#slideshowHolder').jqFancyTransitions({ width: 467, height: 245, strips: 25 });
                        });
                    </script>

                </div>
                <div id="servicos">
                 
                    <a href="../Servicos"><img src="../../Content/themes/base/images/titulo_servicos.png"/></a>
                    <img src="../../Content/themes/base/images/formatacaocomputadores.jpg"/>
                    <img src="../../Content/themes/base/images/remocaovirus.jpg"/>
                    <img src="../../Content/themes/base/images/instalacaoprogramas.jpg"/>
                    <img src="../../Content/themes/base/images/manutencaoredes.jpg"/>
                    <img src="../../Content/themes/base/images/trocapecas.jpg"/>
                    <img src="../../Content/themes/base/images/limpezahardware.jpg"/>
                        
                </div>

            </div>
            <div id="noticia">
                <img src="../../Content/themes/base/images/titulo_noticias.jpg"/>
                <div id="noticia1"></div>
                <img src="../../Content/themes/base/images/barradivisao.jpg"/>
                <div id="noticia2"></div>
                <img src="../../Content/themes/base/images/barradivisao.jpg"/>
                <div id="noticia3"></div>
                <img src="../../Content/themes/base/images/barradivisao.jpg"/>
                <div id="noticia4"></div>
            </div>
            </section>
