@using OliveiraSuporte.Areas.painel.Models
@{
    ViewBag.Title = "Index";
}
<section id="corpo">
<div id="clienteLeft">
                <img src="../../Content/themes/base/images/titulo_clientes.png"/>
                <img src="../../Content/themes/base/images/farm_sao_paulo.png"/>
                <img src="../../Content/themes/base/images/evolucao.jpg"/>
                <img src="../../Content/themes/base/images/protege.jpg"/>
                <img src="../../Content/themes/base/images/farm_sao_paulo.png"/>
                <img src="../../Content/themes/base/images/persona.jpg"/>

            </div>
            <div id="conteudo">
                <div id="slideBaner">
                    <div id='slideshowHolder'>
                        <img src='../../Content/themes/base/images/1.jpg'/>
                        <img src='../../Content/themes/base/images/2.jpg'/>
                    </div>

                    <script>
                        $(document).ready(function () {
                            $('#slideshowHolder').jqFancyTransitions({ width: 467, height: 245, strips: 25 });
                        });
                    </script>

                </div>
                <div id="servicos">
                 
                    <img id="imagemservicos" src="../../Content/themes/base/images/titulo_servicos.png"/>
                    <a href="../Servicos"><img src="../../Content/themes/base/images/formatacaocomputadores.jpg"/></a>
                    <a href="../Servicos"><img src="../../Content/themes/base/images/remocaovirus.jpg"/></a>
                    <a href="../Servicos"><img src="../../Content/themes/base/images/instalacaoprogramas.jpg"/></a>
                    <a href="../Servicos"><img src="../../Content/themes/base/images/manutencaoredes.jpg"/></a>
                    <a href="../Servicos"><img src="../../Content/themes/base/images/trocapecas.jpg"/></a>
                    <a href="../Servicos"><img src="../../Content/themes/base/images/limpezahardware.jpg"/></a>
                        
                </div>

            </div>
            <div id="noticia">
                <img src="../../Content/themes/base/images/titulo_noticias.jpg"/>
                @foreach (Noticia noticia in ViewBag.noticias)
                {
                    <a href="@Url.Action("Index","Noticias",new {Id=noticia.NoticiaId})" id="noticia1">@noticia.Titulo</a>
                    <img src="../../Content/themes/base/images/barradivisao.jpg"/>
                }
                
                
            </div>
            </section>
