@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <fieldset>
                <legend>Login</legend>
                <div>
                    Login
                </div>
                <div>
                    @Html.Editor("login")
                </div>
                <div>
                    Senha
                </div>
                <div>
                    @Html.Password("senha")
                </div>
                <p>
                    <input type="submit" value="Conectar" />
                </p>
            </fieldset>
        }
    </div>
</body>
</html>
