@{
    ViewBag.Title = "Quem Somos";
}
<link rel="stylesheet" href="../../Content/Site.css" type="text/css" media="screen">
<div id="quemsomos">
    <h2>
        Quem somos</h2>
    <p>
        A Oliveira Suporte , fundada em 2010, oferece soluções de qualidade em informática
        e tecnologia. Focada nos mercados home (usuários domésticos) e coorporativo (pequenas
        empresas), conta com profissionais especializados para melhor atender as necessidadades
        de seus clientes.</p>
    <p>
        Sediada em Ariquemes/RO, a empresa tem como lema a prestação de serviços de qualidade,
        assim como, novas tecnologias de custo-benefício que atendam as exigências solicitadas.
        Dessa forma, garantindo o melhor atendimento aos seus clientes, com preços e serviços
        competitivos no mercado. Prezando sempre, pela eficiência no atendimento!
    </p>
</div>
