@model OliveiraSuporte.Areas.painel.Models.Fonte
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Areas/painel/Views/Shared/_Layout.cshtml";
}
<div id="fontedetalhes">
<h2>
    Detalhes</h2>
    <div class="display-label">
        <p>Nome</p></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
    <div class="display-label">
        <p>Fonte</p></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fontes)
    </div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.FonteId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
</div>